doctype html
html
	head
		title SentiTracker
		link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/css/custom.css',rel='stylesheet', type='text/css')
	body 
		.container
			.spacer
			.row
				.col-sm-6.col-sm-offset-3.text-center
					h1 TWITTER SENTIMENT ANALYSIS
					#stop
						form#stopForm
							.form-group
								label 
									#status
							button.btn.btn-danger(type='submit') Stop
					#search
						form#searchForm.form-inline
							.form-group
								input#topic.form-control(type='text',placeholder='by keyword')
							.form-group
								button.btn.btn-primary(type='submit')
									span.glyphicon.glyphicon-search

			.spacer
			.spacer

			.row
				#lineChart.chart
				h4#tweet.text-center.text-danger
			.row
				#semiDonut.donut.col-sm-6
				#currentScore.col-sm-offset-1.col-sm-4
					h4.text-center SENTIMENT DISTRIBUTION TABLE
					table.table.table-condensed.table-bordered
						tr
							td 
								b Total tweets
							td
								p#totalTweet 0 
						tr
							td 
								b Positive tweets
							td
								p#positiveTweet 0
						tr
							td 
								b Negative tweets
							td
								p#negativeTweet 0
						tr
							td 
								b Neutral tweets
							td
								p#neutralTweet 0
						tr
							td 
								b Sentiment score
							td
								p#sentimentScore 0
					kbd sentiment score = (positive - negative) / (positive + negative)

			.row
				#recentSearch.col-sm-offset-3.col-sm-6

					
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(src='/js/socket.io-1.2.0.js')

		script(src='/js/highcharts.js')
		script(src='http://code.highcharts.com/modules/exporting.js')
		
		//Load theme and charts
		script(src='/js/chartTheme.js')
		script(src='/js/charts.js')
	